$c-main: #C24845 !default; 
$c-contrast: #ae0236 !default;
$c-alt: #c10828 !default;
$c-alt2: #1d3165 !default;

$c-dark: #222 !default;
$c-light: #f3f3f3 !default;

$c-green: #4caf50 !default;
$c-red: #e53935 !default;
$c-white: #fff !default;
$c-black: #000 !default;
$c-mutted: #aaa !default;
$c-grey: #e5e5e5 !default;

$c-facebook: #3C5A99 !default;
$c-twitter: #1DA1F2 !default;
$c-googleplus: #DB4437 !default;
$c-instagram: #C13584 !default;
$c-youtube: #ff0416 !default;
$c-pinterest: #BD081C !default;
$c-whatsapp: #25D366 !default;
$c-linkedin: #0077B5 !default;